<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">
    La persona es nicolas
  </p>

  <p *ngSwitchCase="'Diego'">
    La persona es Diego
  </p>

  <p  *ngSwitchCase="'camilo'">
    La persona es Camilo
  </p>

  <p *ngSwitchDefault>No hace match</p>
</div>
<!--
<p *ngIf="person.name == 'nicolas'">
  La persona es nicolas
</p>

<p *ngIf="person.name == 'Diego'">
  La persona es Diego
</p>

<p  *ngIf="person.name== 'camilo'">
  La persona es Camilo
</p>
-->


<hr/>
<h1>*ngFor with Object array</h1>
<div>
  <div *ngFor="let product of products">
    <h2>Precio: {{ product.price }}</h2>
    <p>Nombre: {{ product.name }}</p>
    <img width="250" [src]="product.image" alt="image">
  </div>
</div>


<hr/>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length == 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i+1 }}  {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<h1>Table with NgFor using array</h1>
<table>
  <tr>
    <th *ngFor="let param of params" >
      {{ param }}
    </th>
  </tr>
  <tr>
    <td *ngFor="let product of cleaningProduct">
      {{ product }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let food of foodItem ">
      {{ food }}
    </td>
  </tr>
</table>

<hr/>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name"/>
<p *ngIf="person.name == 'Diego' ">  Soy Diego </p>
<p *ngIf="person.name == 'Jose' && person.age == 18; else elseBlock">  Soy Jose </p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>


<hr/>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{ nameInput.valid }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Age: {{ ageInput.valid }}</p>

<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled" >Enviar</button>
<button (click)="toogleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()" >Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus voluptatem nemo aliquid quia impedit aperiam ab recusandae veniam incidunt vero itaque nostrum, sequi quidem ipsam officia atque? Deserunt, impedit commodi?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti exercitationem quos ratione quisquam assumenda tempora, delectus nobis dolorem sequi a iusto quod tempore aperiam consectetur odit culpa et. Assumenda, harum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aliquid quae quis id eius ex itaque expedita optio sit, hic, voluptate soluta laborum minima. Eius libero minima nemo doloribus illum?
  </p>
</div>
<!--
    En este caso escuchamos eventos desde nuestro componente en typescript
-->
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>

<hr/>

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age" ></progress>
<img  width="100" [src]="person.avatar" />
<!--
    Diferencias entre String interpolation y property binding

    String interpolation: sirve para ingresar contenido, donde necesitemos renderizar el contenido, como un parrafo, un h1.

    Property Binding: sirve especificamente para propiedades de elementos html, como un boton, es más recomendable utilizarlo.
-->

<hr/>

<h1>Hola Mundo</h1>
<h2>{{'Hola Mundo'.repeat(5)}}</h2>
<p>3 + 3 = {{ 3+3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
<img width="500" src={{img}} alt="image" />

